player {
    width: 25%;

    .operations-add, .operations-minus{
        display: flex;
        justify-content: space-around;

        ion-fab{
            position: relative!important;
        }
    }

    .operations-add{
        margin-bottom: 10px;
    }
}
